#editor-menu {
	background-color: gray;
	color: red;
	max-width: 1020px;
	min-height: 30px;
}
#editor-container {
	max-width: 1220px;
	min-width: 1220px;
	margin-right: 200px;
}
.editor {
	max-width: 1020px;
	width: 1020px;
	min-height: 400px;
	resize: none;
	background-color: #fffffb;
}
.editor-menubar-container {
	background-color: gray;
	min-height: 60px;
	max-height: 60px;
}
.clickable-menuitem {
	float: right;
	margin: 6 10px 0 10px;
	background-color: #123456;
	min-width: 80px;
	text-align: center;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	cursor: pointer;
}
.clickable-menuitem active {
	background-color: green;
}

.hidden-menubar {
	background-color: gray;
	color: red;
	max-width: 1020px;
	min-height: 30px;
	display: none;
}
.hidden-menuitem {
	float: right;
	margin: 6 10px 0 10px;
	background-color: #123456;
	text-align: center;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	cursor: pointer;
	color: red;
	padding: 0px;
	border: 0px;
	height: 19px;
}
.bigmenu {
	min-width: 80px;
}

.smallmenu{
	min-width: 40px;
	max-width: 40px;
}
#style-menu {
	background-color: gray;
	float: left;
	padding-top: 60px;
	max-width: 200px;
	min-width: 200px;
	min-height: 400px;
}
.bg-color-selector {
	background-color: #c0c0c0;
}
p {
	margin-top: 0px;
}
h1 {
	margin-top: 0px;
}
.bold {
	font-weight: bold;
}
.italic {
	font-style: italic;
}
.error {
	background-color: white;
	color: red;
}
.message {
	background-color: white;
	color: green;
}
.image-list {
	width: 150px;
	height: 40px;
	background-color: white;
}
.image-name {
	width: 150px;
	height: 20px;
}
.image-bg {
	background-color: #123456;
	width: 50px;
	height:20px;
	margin: 0 5px 0 5px;
	float: left;
	text-align: center;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.image-img {
	background-color: #123456;
	width: 50px;
	margin: 0 5px 0 5px;
	height: 20px;
	float: left;
	text-align: center;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.module {
	background-color:	#333333;
	border: 2px solid black;
}
.modulname {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	height: 20px;
	width: 190px;
	background-color:	#878787;
	text-align: center;
}
.module-content-container {
	display: none;
	padding-bottom: 5px;
	height: 250px;
}
.repeat-selector-left {
	float: left;
	width: 50%;
	font-size: 12px;
}
.double {
	float: left;
	width: 50%;
}
.triple {
	float: left;
	width: 33%;
}
.doubletriple {
	float: left;
	width: 67%;
}
